/AllTests.class
/CriacaoAlunoTest.class
/CriacaoDisciplinaTest.class
/CriacaoProfessorTest.class
/CriacaoTurmaTest.class
/CrudAlunosTest.class
/InsercaoAlunosTest.class
/InstanciacaoTests.class
/OrdenacaoAlunosTest.class
/test.class
